.shopping-cart {
	z-index: 998;
	background: white;
	width: 300px;
	position: absolute;
	top: 30px;
	right: -5px;
	border-radius: 3px;
	padding: 20px;
	overflow: hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	opacity: 0;
	-webkit-transform-origin: right top 0;
	-webkit-transform: scale(0);
	transform-origin: right top 0;
	transform: scale(0);
	.shopping-cart-items {
		padding-top: 20px;
		padding-left: 5px;
		li {
			list-style-type: none;
			margin-bottom: 18px;
		}
		img {
			float: left;
			margin-right: 12px;
			max-width: 30%;
		}
		.item-name {
			display: block;
			font-size: 16px;
		}
		.item-detail {
			display: block;
			font-size: 12px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.item-price {
			color: #00c0cb;
			margin-right: 8px;
		}
		.item-quantity {
			color: #ABB0BE;
		}
	}
	&:after {
		bottom: 100%;
		left: 89%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-bottom-color: white;
		border-width: 8px;
		margin-left: -8px;
	}
}
.shopping-cart.active {
	opacity: 1;
	-webkit-transform-origin: right top 0;
	-webkit-transform: scale(1);
	transform-origin: right top 0;
	transform: scale(1);
}
